{% extends "layout.html" %}

{% block title %}
    KingMail
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="#">KingMail</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarDavDropdown">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href={{ url_for('home') }}>Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href={{ url_for('class_list') }}>Classes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href={{ url_for('login') }}>Logout</a>
      </li>

    </ul>
    <span class="navbar-text">
      Signed in as {{ user }}
    </span>
  </div>
</nav>

{% if alert == 'delete_last' %}
  <br>
  <div class="alert alert-primary" role="alert">
    Your last entry has been deleted.
  </div>
{% elif alert == 'delete_all' %}
  <br>
  <div class="alert alert-primary" role="alert">
    All entries have been deleted.
  </div>
{% endif %}

{% if not initial %}
  <br>
  <h3>{{ class_name }} (unsaved)</h3>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th class="w-25 p-3" scope="col">Student</th>
        <th class="w-50 p-3" scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for student,email in name_list.items() %}
        <tr>
          <td>{{ student }}</td>
          <td>{{ email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method='GET'>
    <button name="edit" type="submit" value="delete_last" class="btn btn-secondary">Delete Last Entry</button>
    <button name="edit" type="submit" value="delete_all" class="btn btn-secondary">Clear All Entries</button>
  </form>
{% endif %}

<br>
<form method="post">
  {% if initial %}
    <div class="form-group">
      <label for="name">Class Name:</label>
      <input type="text" class="form-control" id="text" name="class_name">
    </div>
    <br>
  {% endif %}
  <div class="form-group">
    <label for="name">Student Name:</label>
    <input type="text" class="form-control" id="text" name="name">
  </div>
  <div class="form-group">
    <label for="email">Student Email:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>

  <div class="checkbox">
    <label><input type="checkbox" name="add" checked> Add another name</label>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
