
{% extends "layout.html" %}

{% block title %}
    Join DeMovies
{% endblock %}

{% block body %}
    <h5 style="color:red;">Oops, an error occured in your previous sign-up. Please try again.</h5>
    <h1>Join DeMovies</h1>
    <h4>Create your personal account</h4>

    <form method="post">

        Username:<br>
        <div class="form-group">
            <input class="form-control" name="Username" placeholder="Sartre">
        </div>

        Password:<br>
        <div class="form-group">
            <input class="form-control" name="Password01" placeholder="existentialism02">
        </div>

        Re-enter Password:<br>
        <div class="form-group">
            <input class="form-control" name="Password02" placeholder="existentialism02">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Create an Account</button>
        </div>
        *If your sign up is successful, you will be redirected to the Login page.<br>

    </form>

    <br><button class="btn btn-primary" onclick="/join">Join DeMovies</button>
{% endblock %}
